body {
  width: 220px;
  background: linear-gradient(#000000, #434343);
  color: white;
}

h2 {
  margin: 10px;
}

.image {
  margin: 0 auto;
  width: 48px;
}

button {
  width: 25px;
  height: 25px;
  border-radius: 8px;
  margin: 5px;
  margin-top: 0px;
}

#clear {
  width: auto;
  height: auto;
  margin-top: 10px;
  background: white;
  color: black;
  font-weight: bold;
}

ul {
  display: inline;
}
button:hover {
  cursor: pointer;
  border: 2px solid white;
}

li {
  float: left;
  list-style: none;
}
